<div class="feed col l4">

    <div class="tweets">
        <%# <h3>Tweets</h3> %>
        <%= render 'tweeets/form'%>
        <%# do i need to specify the path this way? %>
        <% @tweeets.each do |individual_tweet|%>
            <%= render 'tweeet', individual_tweet: individual_tweet, view: 'main'%>
        <% end %>
    </div>
    
</div>



