<div class="col l4 hide-on-med-and-down">

    <%# <h3> Trends</h3> %>
    <div class="collection">
        <ul>
            <li class="collection-item collection-header"><h4> Trends </h4></li>
            <li class="collection-item valign-wrapper"><span>Fires In California<span></li>
            <li class="collection-item valign-wrapper">Presidential Election Results</li>
            <li class="collection-item valign-wrapper">Bitcoin</li>
            <li class="collection-item valign-wrapper">Memes</li>
        </ul>
    </div>
</div>