<div class="who-to-follow col l4">
    
    <div class="collection">
        <ul>
            <li class="collection-item collection-header"><h4> Who To Follow </h4></li>
            <li class="collection-item valign-wrapper"><div class="author-small circle blue"></div><span>Mark Twain<span></li>
            <li class="collection-item valign-wrapper"><div class="author-small circle blue"></div>John Doe</li>
            <li class="collection-item valign-wrapper"><div class="author-small circle blue"></div>Cousin Drake</li>
            <li class="collection-item valign-wrapper"><div class="author-small circle blue"></div>Miss Marty</li>
        </ul>
    </div>
</div>