<p id="notice" class="blue-text"> <%= notice %></p>

<section>
  <div class="container wide-container row">
    <%= render 'trends'%>
    <%= render 'feed' %>
    <%= render 'who_to_follow'%>
  </div>
</section>
